[Unit]
Description=Daily cleanup of old cliphist thumbnail cache
Requires=cliphist-thumbs-cleanup.service
PartOf=cliphist-thumbs-cleanup.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=4h
Persistent=false

[Install]
WantedBy=timers.target
