ACTION=="add", SUBSYSTEM=="input", ATTR{name}=="ZSA Technology Labs ErgoDox EZ Glow", ENV{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/local/bin/keyboard-notify.sh"
