* {
  border: none;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 45px;
}

window#waybar {
  background: transparent;
}

##workspaces {
  border-radius: 5px;
  background-color: #11111b;
  color: #b4befe;
  margin-top: 10px;
  margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.visible {
  color: #FFA500;
}

#workspaces button {
  background: #11111b;
  color: #b4befe;
}

#clock, #pulseaudio, #bluetooth, #network, #battery, #upower, #tray, #custom-wlogout {
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#backlight, #bluetooth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0
}

#pulseaudio, #network {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

#clock {
  margin-right: 0;
}
